/* ============ Winter 2024 EECS 493 Assignment 3 Starter Code ============ */

/* Main Containers */
body {
  padding-top: 50px;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #ffffff;
  background-color: #222222;
}

.outer-container {
  height: 720px;
  width: 1280px;
  background: #eee;
  border: 5px solid gainsboro;
}

.game-window {
  height: 720px;
  width: 1280px;
  float: left;
  position: relative;
}

/* Game Section */
#actual-game {
  height: 720px;
  width: 1280px;
  background-color: white;
  z-index: 10;
  right: 0px;
  top: 0px;
}

.curAsteroid {
  position: absolute;
  height: 42px;
  width: 42px;
  z-index: 9;
  right: 0px;
  top: 0px;
}

.curAsteroid img {
  position: relative;
  z-index: 10;
  height: 65px;
  left: -17px;
  top: -15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.portal-container, .shield-container, .player-container {
  position: absolute;
  height: 42px;
  width: 42px;
  z-index: 9;
  bottom: 0px;
  left: 0px;
}

.portal-container img, .shield-container img {
  position: relative;
  z-index: 10;
  height: 65px;
  left: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.player-container img {
  position: relative;
  z-index: 10;
  height: 65px;
  left: 540;
  bottom: 350;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


/* Add your stylings here */
.main-screen {
  background-image: url('../src/frontpage_background.jpg');
  height: 100%;
}
.main-screen .header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: darkslateblue;
  border-bottom: 6px;
  border-bottom-style: groove;
  color: white;
  font-size: 100px;
}
