body {
    display: block;
    padding-top: 80px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #ffffff;
    background-color: #222222;
}

a {
    text-decoration: none;
    margin: auto;
}

h1 {
    font-size: 40px;
    margin-bottom: 0px;
}

.page-container {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}
.page-container a {
    color: #0ce3ac;
}

.personal-info {
    text-align: left;
}

.side-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: fit-content;
    height: max-content;
    text-align: center;
    margin-right: auto;
    background-color: darkslategrey;
}
