/* Main Containers */
body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #ffffff;
    background-color: #222222;
}

a {
    text-decoration: none;
    color: #0ce3ac;
}

hr {
    color: black;
    width: 50px;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

/* Class Containers */
.page-container {
    padding-top: 80px;
    padding-left: 150px;
    padding-right: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.side-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: fit-content;
    height: 100%;
    align-items: center;
    background-color: darkslategrey;
}

.side-panel a {
    color: white;
    padding: 15px;
}


/* Id Modifiers */
#menu {
    width: 50px;
    height: 60px;
}

#profile-pic {
    width: 250px;
    height: 350px;
    padding-bottom: 10px;
    padding-left: 20px;
}